.body-wrapper{
  width:100%;
}
.FormWrapper{
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.FormWrapper h2{
  font-style:italic;
  color:#FD5056;
}
.loginAlert{
  color:red;
  margin:20px;
}
.inputFormWrapper{
  border:1px solid white;
  border-radius:20px;
  width:400px;
  padding:20px;
  text-align:center;
}
.form-input{
  margin:20px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:white;
}
.form-input input{
  padding:5px;
  border-radius:10px;
  width:80%;
  height:35px;
}
.submitButton{
  width:50%;
  height:35px;
  border-radius:10px;
  background-color:#39AFAF;
  cursor: pointer;
  margin-top:20px;
}
.FormWrapper label{
  color:pink;
}
.goalsContainerWrapper{
  border:1px solid #32CD32;
  border-radius:10px;
  padding:20px;
  width:700px;
  margin:0 auto 0 auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.goalContainer{
  width:100%;
  margin:20px;
}
.goalContainer h4{
  text-align:center;
  font-style:italic;
  color:#FD5056;
}
.goals{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}
.goal{
  width:300px;
  padding:5px;
  margin:10px;
  border:1px solid white;
  border-radius:20px;
  color:#00FF00;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.goalContent{
  padding:20px;
}
.buttonWrapper{
  width:100%;
  display:flex;
  justify-content:space-around;
}
.buttonEdit{
  background-color:green;
  padding:5px;
  width:100px;
  color:white;
  font-style:italic;
  border-radius:10px;
}
.buttonDelete{
  background-color:red;
  padding:5px;
  width:100px;
  color:white;
  font-style:italic;
  border-radius:10px;
}
.container{
  padding:10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
